## Build and release workflow

name: Release

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Install github cli && github classroom
              run: |
                sudo apt update && sudo apt install gh -fy && gh extension install github/gh-classroom
              env:
                GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Clone student repos
              run: gh classroom clone student-repos -a ${{ secrets.HW_ID }} --verbose
              env:
                GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Build student repos
              run: |
                for repo in hw*-submissions/*; do
                    cd $repo
                    make
                    cd -
                done

